<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BerkananLite-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BerkananLite.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BerkananLite2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BerkananLiteUIScreenshots.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Proba.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SomeApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Watch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D40B2DF23C24D2900359B34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D59165722BBCFD0007B169F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D59166C22BBCFD4007B169F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D82492823D189BD0011F7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D82492B23D189BD0011F7D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D99A73523D8427800D17CEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
